<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SZOK_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SZOK_OCR.Properties.Settings.SZOKConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SZOK_OCR\MDB\SZOK.mdb;Persist Security Info=True;Jet OLEDB:Database Password=SZOK123"
            providerName="System.Data.OleDb" />
        <add name="SZOK_OCR.Properties.Settings.SZOK_CARDConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SZOK_DATA\MDB\SZOK_CARD.mdb;Persist Security Info=True;Jet OLEDB:Database Password=SZOK123"
            providerName="System.Data.OleDb" />
        <add name="SZOK_OCR.Properties.Settings.mdbOlePath" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SZOK_OCR\MDB\SZOK.mdb;Persist Security Info=True;Password=SZOK123"
            providerName="System.Data.OleDb" />
        <add name="SZOK_OCR.Properties.Settings.mdbPathTemp" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SZOK_OCR\MDB\SZOK_Temp.mdb;Persist Security Info=True;Password=SZOK123"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
    <applicationSettings>
        <SZOK_OCR.Properties.Settings>
            <setting name="gengou" serializeAs="String">
                <value>平成</value>
            </setting>
            <setting name="mdbPath" serializeAs="String">
                <value>c:\SZOK_OCR\MDB\</value>
            </setting>
            <setting name="RekiHosei" serializeAs="String">
                <value>1988</value>
            </setting>
            <setting name="wrHands_JobName" serializeAs="String">
                <value>静岡防犯登録カード</value>
            </setting>
            <setting name="instPath" serializeAs="String">
                <value>c:\SZOK_OCR\EXE\</value>
            </setting>
            <setting name="wrOutPath" serializeAs="String">
                <value>c:\SZOK_OCR\READ\</value>
            </setting>
            <setting name="dataPath" serializeAs="String">
                <value>c:\SZOK_OCR\DATA\</value>
            </setting>
            <setting name="tifPath" serializeAs="String">
                <value>c:\SZOK_OCR\TIF\</value>
            </setting>
            <setting name="scanPath" serializeAs="String">
                <value>c:\SZOK_OCR\SCAN\</value>
            </setting>
            <setting name="trayPath" serializeAs="String">
                <value>c:\SZOK_OCR\TRAY\</value>
            </setting>
            <setting name="ocrPatternLoadPath" serializeAs="String">
                <value>c:\SZOK_OCR\WRHV803\</value>
            </setting>
            <setting name="ngPath" serializeAs="String">
                <value>c:\SZOK_OCR\NG\</value>
            </setting>
            <setting name="wrReaderOutFile" serializeAs="String">
                <value>txtout.csv</value>
            </setting>
            <setting name="imgPath" serializeAs="String">
                <value>c:\SZOK_DATA\IMAGE\</value>
            </setting>
            <setting name="xlsLabelPath" serializeAs="String">
                <value>C:\SZOK_OCR\XLS\cardlabel.xlsx</value>
            </setting>
            <setting name="scanDataPath" serializeAs="String">
                <value>C:\SZOK_DATA\SCANDATA\</value>
            </setting>
            <setting name="xlsNouhinRep" serializeAs="String">
                <value>C:\SZOK_OCR\XLS\納品書請求書.xlsx</value>
            </setting>
            <setting name="xlsKaishuTemp" serializeAs="String">
                <value>C:\SZOK_OCR\XLS\回収防犯登録カード明細.xlsx</value>
            </setting>
            <setting name="xlsMikaishuList" serializeAs="String">
                <value>C:\SZOK_OCR\XLS\未回収カードリスト.xlsx</value>
            </setting>
        </SZOK_OCR.Properties.Settings>
    </applicationSettings>
</configuration>